.root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
  min-height: 100dvh;
  max-height: 100dvh;
}

.topBar {
  flex-shrink: 0;
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.3);
  /* Ensure the <main> content doesn't show above the shadow. */
  z-index: 1;
}

.content {
  display: flex;
  flex: 1;
  width: 100vw;
  overflow-y: auto;
  min-height: 0;
  padding: 0 12px 12px;
}
