.root {
  color: white;
  background-color: #343a40;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  justify-content: space-between;
  padding: 2px 5px;
}

.buttonsGroup {
  display: flex;
}

/* If we don't have this, the right component will overflow past the right edge
   of the screen. */
.buttonsGroupInnerWrapper {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rightAlign {
  justify-content: flex-end;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #2b3238;
  border-radius: 4px;
  padding: 6px 7px;
  font-size: 80%;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    border-color 0.4s ease;
}

.button:hover {
  background-color: #545a60;
  border-color: #57f;
}
