.button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #2b3238;
  border-radius: 4px;
  padding: 6px 7px;
  font-size: 80%;
  font-weight: 500;
  cursor: pointer;
  transition:
    background-color 0.4s ease,
    border-color 0.4s ease;
}

.percent {
  font-weight: 600;
  color: rgb(212, 235, 215);
}

.textButton,
.textButtonLong {
  padding: 4.5px 6px;
  width: 33px;
  height: 31px;
  /* Fixed font size inside a button */
  font-size: 12.8px;
}

.textButtonLong {
  width: 62px;
}

.button:hover {
  background-color: #545a60;
  border-color: #57f;
}

.button.on {
  color: #eee;
  border-color: #eee;
}

.button.on:hover {
  color: white;
  border-color: white;
}

.menu {
  position: absolute;
  top: var(--top-bar-height);
  left: 0;
  z-index: 102;
}

.menuContent {
  border-top: 1px solid #555;
  padding: 8px 12px 32px;
  color: #ddd;
  background-color: #343a40;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.menuContent table {
  display: inline-block;
  margin-top: 6px;
}

.menuContent th {
  white-space: nowrap;
}

.menuContent th,
.menuContent td {
  text-align: left;
  padding: 4px 0;
}

.menuContent td {
  padding-left: 16px;
}

.menuContent th,
.menuContent b {
  font-weight: 550;
  font-size: 95%;
}

.bookButton,
.bookButton:visited {
  border: 1px solid #555;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  border-radius: 6px;
  padding: 0 6px;
  cursor: pointer;
  transition:
    color 0.4s ease,
    background-color 0.4s ease,
    border-color 0.4s ease;
}

.bookButton:hover {
  background-color: #6b7d6b;
  border-color: #eee;
}

.bookButton.grp1,
.bookButton.grp1:visited {
  color: #8888ff;
}

.bookButton.grp2,
.bookButton.grp2:visited {
  color: #ff8888;
}

.bookButton.grp3,
.bookButton.grp3:visited {
  color: #88ff88;
}

.bookButton.grp4,
.bookButton.grp4:visited {
  color: #ffbb66;
}

.bookButton.grp5,
.bookButton.grp5:visited {
  color: #66bbff;
}

.bookButton.grp6,
.bookButton.grp6:visited {
  color: #ff66bb;
}

.bookButton.grp7,
.bookButton.grp7:visited {
  color: #bb66ff;
}

.bookButton.grp8,
.bookButton.grp8:visited {
  color: #f8888f;
}

.bookButton.grp9,
.bookButton.grp9:visited {
  color: #f8f888;
}

.bookButton.grp10,
.bookButton.grp10:visited {
  color: #88f8f8;
}
